.container {
    align-items: start;
    background-color: white;
    border-left: .3125rem solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    padding-left: 2rem;
    position: fixed;
    right: 0;
    top: 10rem;
    width: 30rem;
    z-index: 1002;
}

.error {
    background-color: #F6E6E7;
    border-color: #DD2424;
}

.success {
    background-color: #CEF1D1;
    border-color: #04884C;
}

.note {
    background-color: #EAEAEA;
    border-color: #9B9B9B;
}

.info {
    background-color: #6397DC;
    border-color: #6397DC;
}

.warning {
    background-color: #F9EAAD;
    border-color: #F9DD3A;
}

.message {
    font-weight: 500;
    padding-left: 0;
    padding: .3rem;
}