.container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.input {
    height: 1rem;
    margin: 0;
    padding: 0;
    width: 1rem;
}

.input:hover {
    cursor: pointer;
}

.title {
    color: white;
    padding-left: .8rem;
}