.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px 0 10px;
    transition: 0.3s;
}

.textArea:focus-within {
    transform: scale(1.1);
}

.textArea {
    background-color: #d2d2d4;
    border-radius: 1rem;
    border: none;
    color: #7850ad;
    font-size: 18px;
    height: 2rem;
    outline: none;
    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.textArea::placeholder {
    color: #7850ad;
    vertical-align: middle;
}

.textArea::-webkit-scrollbar {
    display: none;
}