.container {
    padding: 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
}

.container:focus-within {
    transform: scale(1.2);
}

.selectBox {
    border: none;
    font-size: 18px;
    text-align: center;
    outline: none;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    transition: 0.3s;
    color: #7850ad;
    background-color: #d2d2d4;
}