.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px 0 10px;
    transition: 0.3s;
}

.input:focus-within {
    transform: scale(1.1);
}

.input {
    background-color: #d2d2d4;
    border-radius: 1rem;
    border: none;
    color: #7850ad;
    font-size: 18px;
    height: 2rem;
    outline: none;
    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.input::placeholder {
    color: #7850ad;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}