.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    /* border-radius: 0.3rem; */
    border-radius: 1rem;
    padding: 0.4rem;
}


.container:hover {
    cursor: pointer;
}