.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d2d2d4;
    border-radius: 1rem;
    padding: 0.4rem;
    color: #5042A8;
    border: 1px solid #5042A8;
}

.container:hover {
    cursor: pointer;
}