.container {
    background-color: white;
    border: none;
    /* border-radius: 0.3rem; */
    border-radius: 1rem;
    padding: 0.7rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.container:hover:enabled .title {
    animation: gradientAnimation ease 0.5s both;
}

.title {
    background-image: linear-gradient(270deg, rgb(80, 54, 227), rgb(237, 92, 155));
    background-clip: text;
    color: transparent;
    font-weight: 800;
    text-align: center;
    font-size: .8rem;
}

@keyframes gradientAnimation {
    0% {
        background-size: 200% 100%;
    }

    100% {
        background-size: 200% 100%;
        background-position: -170% 0;
    }
}