.container {
    background-color: #b96ed4;
    border: none;
    border-radius: .5rem;
    padding: 0.7rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.title {
    color: #d2d2d4;
    font-weight: 800;
    text-align: center;
    font-size: .8rem;
}