.passwdBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.passwdBlock>:focus {
    transform: scale(1.2);
}

.linkToLog {
    color: white;
    text-align: center;
    padding-top: 1rem;
    transition: 0.3s;
    text-decoration: none;
}

.linkToLog:hover {
    cursor: pointer;
    transform: scale(1.1);
}