.passwdBlock {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.passwdBlock:focus {
    transform: scale(1.2);
}

.ageAndGender {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.linkToLogin {
    color: white;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.linkToLogin:hover {
    cursor: pointer;
    transform: scale(1.1);
}