.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.productInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.productTitle {
    color: #7850ad;
    font-size: 2.5rem;
    font-weight: bold;
}

.productDescription {
    color: #7850ad;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    width: 70%;
}

.productCostAndSale {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding-top: 1rem;
}

.productPrice {
    padding: 2px 6px 2px 6px;

}

.productRating {
    padding-top: 1rem;
}

.productDiscount {
    background-color: rgb(12, 201, 19);
    color: white;
    font-size: 1rem;
    margin-left: .6rem;
    padding: 2px 6px 2px 6px;
    text-shadow: 1px 1px #444;
}

.reviews {
    width: 70%;
}

.reviewTitle {
    border-bottom: 1px solid black;
    display: block;
    font-size: 1.5rem;
    padding-bottom: .3rem;
    padding-top: 1rem;
    text-align: center;
}

.cartButtons,
.controlButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    width: 70%;
}

.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    text-align: start;
    height: 200px;
    overflow-y: auto;
    padding: 1rem .5rem;
}

.reviewsList::-webkit-scrollbar {
    width: .8rem;
}

.reviewsList::-webkit-scrollbar-thumb {
    background-color: #b96ed4;
    border-radius: 1rem;
}

.review {
    border-radius: 1rem;
    border: 1px solid #5042A8;
    box-shadow: 1px 3px 3px black;
    font-size: 1.2rem;
    padding: .7rem;
}