.container {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #C5C6C7;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.productImages {
    padding: 1rem 1rem;
}

.productInfo {
    padding: 0 1rem 0;
    width: 100%;
}

.labelBox {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
}

.productTitle {
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px solid;
    text-align: center;
    text-wrap: wrap;
}

.productRating {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 1.2rem;
}

.productDescription {
    align-self: center;
    text-align: center;
}

.productPriceDiscountStock,
.productBrandAndCategory {
    display: flex;
    justify-content: space-evenly;
}


.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #d2d2d4;
    border: 1px solid #5042A8;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.buttons {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}

.ownerData {
    width: 80%;
    padding-left: 1.5rem;
}

.ownerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyEmailButton {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}