.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 4rem;
}

.nameField,
.contactField,
.detailsField {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: gray;
    padding: 1rem;
    border-radius: 1rem;
}

.inputLabel {
    color: white;
    font-weight: bold;
}

.saveButton {
    display: flex;
    justify-content: center;
}