.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
}

.nameField,
.contactField,
.detailsField {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.inputBox {
    background-color: gray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.inputLabel {
    color: white;
    font-weight: bold;
}

.saveButton {
    display: flex;
    justify-content: center;
}

.imageControls {
    align-items: center;
    display: flex;
    justify-content: space-around;
}