.container {
    height: 100%;
    padding-top: 3rem;
}

.content {
    border-radius: 1rem;
    border: 1px solid #5042A8;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1rem;
    width: 80%;
}


.userImage img {
    border-radius: 50%;
    border: 3.5px solid #5042A8;
    height: 16rem;
    object-fit: cover;
    width: 16rem;
}

.userBio {
    display: flex;
    flex-direction: column;
}

.userName,
.userEmail {
    background-color: gray;
    border-radius: 1rem;
    color: #d2d2d4;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.deleteProile,
.manageProducts {
    padding: 1rem 0 0;
}

.contentCenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.nameFields,
.contactFields,
.bioFields {
    color: #d2d2d4;
    display: flex;
    font-weight: bold;
    gap: 2rem;
    justify-content: space-between;
}

.contactFields {
    gap: 0;
}

.firstNameBlock,
.lastNameBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dataBox {
    background-color: gray;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.dataBoxLabels {
    font-size: .8rem;
    padding-bottom: .2rem;
}

.contactFields {
    display: flex;
    flex-direction: column;
}

.emailBlock,
.phoneBlock,
.ageBlock,
.genderBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1rem;
}

.editInfoField {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.contentRight {
    align-items: center;
    color: #d2d2d4;
    display: flex;
    flex-direction: column;
    flex: .3;
    font-size: 1.25rem;
    font-weight: bold;
}

.userProductsTitle {
    border-bottom: 1px solid #5042A8;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.userProducts {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userEmptyList {
    padding: 1rem;
    text-align: center;
}

.productBox {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem;
}

.product {
    background-color: gray;
    border-radius: 1rem;
    border: 2.5px solid #5042A8;
    display: flex;
    height: 4rem;
    padding: .5rem;
    padding: 1rem;
}

.productImage {
    border-radius: 1rem;
    object-fit: cover;
    width: 4rem;
}

.productDescription {
    align-items: center;
    color: #d2d2d4;
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    justify-content: center;
    padding: 0 1rem 0;
}