.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ul {
    padding-left: 0;
}

.ul li {
    display: inline-block;
    padding-right: 2rem;
    transition: transform 0.3s ease;
    position: relative;
}

.innerContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    height: 5rem;
    cursor: pointer;
}

ul li:hover {
    transform: scale(1.2);
}

.a {
    color: #d2d2d4;
    font-weight: bold;
    padding-bottom: .5rem;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.a::after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease-out, left 0.3s ease-out;
    width: 0%;
}

.a:hover::after {
    left: 0;
    width: 100%;
}

.authButtons,
.profileButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.bottomBar {
    background-color: #5042A8;
    height: 0.2rem;
    margin-top: 1%;
    width: 100%;
}