.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.reviewTitle {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 1rem;
}

.reviewRating {
    align-self: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.sendReview {
    display: flex;
    justify-content: center;
}