.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    padding-top: 10rem;
}

.title {
    font-size: 4rem;
    color: #d2d2d4;
    text-align: center;
}

.text {
    color: #d2d2d4;
    width: 40rem;
    font-size: 1.25rem;
    text-align: center;
}