.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: 400;
    gap: 1rem;
    justify-content: center;
    margin: auto;
    padding-top: 10rem;
    width: 80%;
}

.title {
    color: #d2d2d4;
    font-size: 4rem;
    text-align: center;
}

.text {
    color: #d2d2d4;
    font-size: 1.25rem;
    text-align: center;
    width: 40rem;
}